* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #151515;
	color: white;

	font-family: 'Space Grotesk', sans-serif;
}

.XL {
	font-size: 8.8rem;
	line-height: 8.8rem;
	letter-spacing: -2.5px;
}

.L {
	font-size: 4.8rem;
	line-height: 5.6rem;
	letter-spacing: -1.5px;
}

.M {
	font-size: 2.4rem;
	line-height: 3.2rem;
}

.body-L {
	font-size: 1.8rem;
	line-height: 2.8rem;
}

.wrapper {
	max-width: 1110px;
	margin: 0 auto;
	background-image: url('./assets/images/headshot.jpg');
	background-repeat: no-repeat;
	background-size: 500px 720px;
	background-position: top right;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover,
.form-content button:hover,
.navbar i:hover {
	color: #4ee1a0;
	cursor: pointer;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 3.9rem;
	padding-bottom: 12.7rem;
}

.nav-logo {
	font-size: 2rem;
}

.navbar ul {
	display: flex;
}

.navbar i {
	font-size: 30px;
	color: #151515;
}

.navbar li {
	margin-right: 3rem;
}

.hero-content {
	display: flex;
	margin-bottom: 21.9rem;
}

.hero-text {
	max-width: 706px;
}

.hero-content h1 {
	font-size: 8.8rem;
	letter-spacing: -2.5px;
	margin-bottom: 4.3rem;
}

h1 .bottom-border {
	border-bottom: 6px solid #4ee1a0;
}
.hero-content p {
	max-width: 445px;
	font-size: 1.8rem;
	line-height: 28px;
	padding-bottom: 6.6rem;
}
.contact-me {
	font-size: 1.6rem;
	line-height: 2.6rem;
	letter-spacing: 2.29px;
	border-bottom: 2px solid #4ee1a0;
	padding-bottom: 10px;
}

.skills-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 7.2rem;
	margin-bottom: 13.7rem;
}

.skills-list li {
	flex: 1 1 345px;
	margin-bottom: 5.8rem;
}

.skills-list h4 {
	font-size: 4.8rem;
	line-height: 5.6rem;
	letter-spacing: -1.5px;
}

.project-headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8rem;
}

.project-previews {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 13.9rem;
}

.project {
	max-height: 487px;
	max-width: 540px;
	margin-bottom: 6.9rem;
}

.project img {
	width: 100%;
}
.project:nth-of-type(odd) {
	margin-right: 3rem;
}

.project h4 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	margin-top: 2rem;
}

.project span {
	font-size: 1.8rem;
	line-height: 2.8rem;
}

.project ul {
	display: flex;
}
.project li {
	margin-right: 1.8rem;
	margin-top: 0.7rem;
}

.contact-section {
	background-color: #242424;
	width: 100%;
	height: 51.4rem;
	padding-top: 8.4rem;
}

.content-section-wrapper {
	display: flex;
	max-width: 1100px;
	justify-content: space-between;
	margin: 0 auto;
}

.contact-content {
	max-width: 445px;
	max-height: 208px;
	margin-bottom: 38.3rem;
}

.contact-content h2 {
	margin-bottom: 3.6rem;
}

.contact-section form {
	display: flex;
	flex-direction: column;
}

.form-content {
	max-height: 327px;
	max-width: 445px;
}

.name-input,
.email-input {
	height: 43px;
	margin-bottom: 3.2rem;
}

input,
textarea {
	width: 100%;
	background-color: #242424;
	border: none;
	font-size: 1.8rem;
	line-height: 2.8rem;
	letter-spacing: -0.22px;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
}

.form-content button {
	margin-top: 3.2rem;
	float: right;
	padding-bottom: 10px;
	width: 160px;
	font-size: 1.6rem;
	line-height: 2.6rem;
	letter-spacing: 2.29px;
	background-color: #242424;
	font-weight: bold;
	border: none;
	color: white;
	border-bottom: 2px solid #4ee1a0;
}

textarea {
	height: 107px;
}

.footer-wrapper {
	background-color: #242424;
}

.footer-container {
	max-width: 1100px;
	margin: 0 auto;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 160px;
}

.footer-content {
	font-size: 3.2rem;
	line-height: 32px;
	letter-spacing: -0.44px;
}

.footer-content ul {
	display: flex;
}

.footer-content li {
	margin-left: 3rem;
}
.footer-content li:img {
	color: #4ee1a0;
}
